body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

/******************** CLASSES TAGS*******************/

.container-fluid {
    padding: 0;
    margin: 0;
}

/*******************************************/
/***************** NAVBAR SECTION***********/

.navbar-toggler-editing {
    margin-right: 15%;
    border: none;
    width: 10%;
    padding: 0;
    background-color: none;
}

/*branding*/
.brand-logo {
    width: 100%;
    border-radius: 100%;

}

.brand-logo-a {
    margin-left: 5%;
    width: 5%;
    padding: 0;
}

.navigation-bar {
    background-color: #a49e9ea8;
}

.navbar-postion {
    position: fixed;
    z-index: 1;
}


/* giving some space to lists L-R */
.navbar-spacing {
    text-transform: uppercase;
    padding: 0 20px;

}

/* creating class to edit anchor links */
.editing-links {
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.editing-links:hover {
    border-bottom: 4px solid #ef8172;
    padding-bottom: 5px;
    color: #ef8172;
    transition: all .4s ease-out;

}

.dropdown-bg {
    background-color: #a49e9ea8;
}



/********* carousel background images***********/
.carousel-images img {
    width: 100%;
    /* height: 45rem; */
    height: 100%;
    margin: 0;
    padding: 0;
}

.carousel-image-section {
    margin: 0;
}

.carousel-indicators .carousel-btn-editing {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border: 1px solid #000
}

/*******************************************/
/************ YOUTUBE SECTION****************/
.youtube-section {
    padding: 7% 10% 7% 15%;
    line-height: 2;
    background-color: rgb(227, 231, 234);
    text-align: center;
}

.youtube-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.youtube-heading a {
    text-decoration: none;
    color: #000;
}

.youtube-heading a:hover {
    color: rgb(53, 53, 214);
}

.youtube-video {
    margin: auto;
    width: 65%;
    background-color: #fff;
    padding: 1%;
}

.youtube-video iframe {
    width: 100%;
}

/*******************************************/
/************* ABOUT US SECTION************/
.about-us-section {
    padding: 7% 10% 7% 12%;
    text-align: center;
}

.about-us-container {
    border: 2px solid black;
    width: 100%;
    line-height: 2;
    background: url(https://www.croirecricketclub.com/images/donate-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 3% 5%;
}

.about-heading {
    text-transform: uppercase;
    font-weight: normal;
}

/* about us button */
.button-box {
    border: 1px solid rgb(238, 238, 70);
    display: inline-block;
    width: 20%;
    padding: 1px;
}

.button {
    background-color: rgb(238, 238, 70);
    border: none;
    color: black;
    font-size: .8rem;
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

.button:hover {
    background-color: #000;
    color: rgb(238, 238, 70);
    transition: all .8s;
}

/*******************************************/
/***************ABOUT COACH****************/
.about-coach-section {
    background: url(https://www.croirecricketclub.com/img/64.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.about-coach-text {
    background-color: #ffa500b0;
    padding: 5% 10% 5% 12%;

    /* clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0); */
}

.about-coach-text p {
    color: #fff;
}

.coach-text-heading {
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    margin-bottom: 20px;
}

/* about coach button */
.coach-button {
    background-color: #000;
    color: yellow;
    width: 100%;
    padding: 10px;
}

.coach-button:hover {
    color: #fff;
    transition: all .8s;
}

/**** right section of about coach *****/
.about-coach-photo {
    background-color: rgba(28, 21, 21, 0.441);
    padding: 5% 10% 5% 12%;
    position: relative;
    text-align: center;

}

.coach-photo-heading {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    left: 34%;
    padding: 2% 0;

}

.body-section-about-coach {
    display: flex;
    flex-direction: row;
}

.body-section-about-coach img {
    border: 1px solid orange;
    width: 100%;
    height: 100%;
}

.coach-name-heading {
    color: #fff;
    text-transform: uppercase;
    padding-top: 55%;
    padding-right: 4%;

}

/*******************************************/
/************** TIPS SECTION **************/
.tips-section {
    padding: 7% 8% 7% 10%;
    text-align: center;
}

.tips-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}

.tips-heading {
    padding-top: 1%;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.tips-1,
.tips-2 {
    text-align: left;
    background-color: rgb(223, 227, 231);
    width: 40%;
    margin: 5px;
    padding: 0;
}

.tips-1 p,
.tips-1 span {
    width: 100%;
}

.tips-1 img,
.tips-2 img {
    float: left;
    padding-right: 3%;
    width: 60%;
    height: 100%;

}

.tips-right-icon {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: .8rem;
    font-weight: bold;
}

.tips-right-icon:hover {
    cursor: pointer;
    color: rgba(205, 152, 54, 0.815);
    transition: all 1s;

}


/*******************************************/
/****************** GALLARY SECTION ***************/

.gallary-photos {
    padding: 0;
    margin: 0;
}

.gallary-photos img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


/*******************************************/
/************ OUR TEAM SECTION *************/

.our-team-section {
    text-align: center;
    padding: 7% 10% 7% 12%;
}

.our-team-heading {
    text-transform: uppercase;
    padding-bottom: 4px;
}

.card-detail {
    margin: 20px;
    border: none;
}

.card-body img {
    width: 100%;
    height: 100%;
}

.card-footer h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
}

.card footer p {
    text-transform: uppercase;
    font-size: 1.4rem;
}

.card-footer h3:hover {
    color: orange;
    cursor: pointer;
}

/*******************************************/
/********** REVIEWS SECTION ***************/

.reviews {
    text-align: center;
    padding: 5% 10% 5% 12%;
    line-height: 0;
}

.reviews-container {
    border: 2px solid black;
    width: 100%;
    background: url(https://www.croirecricketclub.com/images/donate-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 2;
    color: #fff;
    padding: 8% 5%;
}

.review-heading {
    text-transform: uppercase;
}

.reviewer-name {
    padding: 0;
    margin: 0;
    color: orange;
    text-align: left;
    padding-left: 1%;
}

/*******************************************/
/************* MAP SECTION ****************/

.map-container {
    margin: 0;
    padding: 0;
}

.col-lg-12 iframe {
    padding: 0;
    margin: 0;
    width: 100%;
}

/*******************************************/
/************* FOOTER SECTION *************/

.footer-container {
    background-color: rgb(222, 222, 20);
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer-container p {
    font-family: sans-serif;
    color: #fff;
    margin: 0;
    padding: 10px 0;
}

.footer-container p a {

    color: #000;
    text-decoration: none;
}


/*******************************************/
/******************************************/
/*************** MEDIA QUERY *************/

@media (max-width:1005px) {

    /*******************************************/
    /************* ABOUT COACH SECTION*********/

    .about-coach-photo {
        display: none;
    }

    /*******************************************/
    /************* YOUTUBE SECTION ************/

    .youtube-video {

        width: 100%;
    }

    /*******************************************/
    /************** TIPS SECTION  ***************/
    .tips-container {
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .tips-1,
    p,
    span,
    .tips-2,
    span,
    p {
        width: 100%;
        padding-bottom: 2%;


    }

    .tips-1 img,
    .tips-2 img {
        float: none;
        width: 100%;
        padding-right: 0;
    }

}